body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}

article, aside {
    overflow-y: auto;
}

header {
    background-color: lightgray;
    padding: 10px;
}

footer {
    background-color: lightgray;
    padding: 10px;
}

section {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
